@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,600;9..144,700&display=swap');

/* Montserrat Font */
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Medium.woff') format('woff'),
        url('Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.woff') format('woff'),
        url('Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Light.woff') format('woff'),
        url('Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* Fraunces Font */
@font-face {
    font-family: 'Fraunces';
    src: url('Fraunces144pt-Bold.woff') format('woff'),
        url('Fraunces144pt-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces';
    src: url('Fraunces144pt-SemiBold.woff') format('woff'),
        url('Fraunces144pt-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces';
    src: url('Fraunces144pt-Regular.woff') format('woff'),
        url('Fraunces144pt-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F0F0F0;
    color: #6E6E76;
    width: 100vw;
    height: 100vh;
}

body>.container {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-image: url("img/bg.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right 100%;
}

.container .wrapper {
    min-height: 84%;
    width: 90%;
    background-color: #F3EAE3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 2%) 0px 1px 2px, rgb(240 240 240) 0px 2px 3px, rgb(0 0 0 / 7%) 16px 22px 14px;
}


.container .wrapper .card {
    height: 30rem;
    width: 40rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.container .wrapper .canvas {
    width: 50%;
    min-height: 100%;
    background-color: inherit;
    background-image: url("img/chanel.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


.container .wrapper .text {
    max-width: 50%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 2rem;
}

.container .wrapper .text .type {
    font-weight: 600;
    text-transform: uppercase;
    font-size: .8rem;
}

.container .wrapper .text h2.product {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 2rem;
    color: #1C2128;
    padding: 1rem 0;
}

.container .wrapper .text p.description {
    font-weight: 600;
    font-size: .9rem;
    line-height: 1.75;
}

.container .wrapper .text .price {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.container .wrapper .text .price .now {
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    font-weight: 700;
    color: #398267;
}

.container .wrapper .text .price .before {
    font-size: .83rem;
    font-weight: 600;
    text-decoration: line-through;
    margin: 0 1rem;
}

.container .wrapper button.addtocart {
    background-color: #3D8168;
    color: #fff;
    height: 3rem;
    width: 90%;
    min-width: 12rem;
    padding-left: 10%;
    border: none;
    border-radius: 10px;
    background-image: url(img/icon-cart.svg);
    font-size: calc(.5rem + .75vw);
    background-repeat: no-repeat;
    background-position: 30% 50%;
    cursor: pointer;
}

.container .wrapper button.addtocart:hover {
    background-color: #1A4031;
}




.attribution {
    position: absolute;
    bottom: 1rem;
}


@media only screen and (max-width: 800px) {
    body>.container {
        background-image: none;
        min-height: calc(100% + 10rem);
        position: relative;
    }

    .container .wrapper {
        min-height: 100%;
        width: 100%;
        border-radius: unset;
        box-shadow: none;
        align-items: flex-start;
        padding: 1rem;
    }

    
    .container .wrapper .card {
        flex-direction: column;
        width: calc(50% - 4rem);
        width: 300px;
        min-width: 275px;
        height: calc(100% - 4rem);
    }


    .container .wrapper .canvas {
        width: 100%;
        height: 13rem;
        background-color: inherit;
        background-image: url(img/chanel-mobile.png);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .container .wrapper .text {
        max-width: 100%;
        max-height: 50%;
        padding: 2rem;
    }
    .container .wrapper button.addtocart {
        width: 100%;
    }
}